/* @import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;700&family=Smooch&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;700&family=Smooch&display=swap');


body{
    margin: 0px;
    background-color: aquamarine;
    font-family: 'Readex Pro', sans-serif;
font-family: 'Smooch', cursive;
}
#txt-input {
    width: 50vh;
    height: 5rem;
    
    padding: 1rem;
}
.borderRadius {
    border: 5px solid black; 
    border-radius: 1rem;
}

#output {
    display:inline-block;
    width: 50vh;
    height: 5rem;
    background-color: wheat;
    padding: 1rem;
}
.container {
    padding: 0rem 1rem ;
    text-align: center;
}
.container-center {
    max-width: 600px;
    margin: auto;
}